fastapi==0.129.0
uvicorn[standard]==0.40.0

beanie==2.0.1
motor==3.7.1
pymongo==4.16.0

pydantic==2.10.6


python-jose[cryptography]==3.5.0
passlib==1.7.4
bcrypt==4.0.1

python-multipart==0.0.22

python-dotenv==1.2.1
loguru==0.7.3
slowapi==0.1.6

pydantic-settings==2.7.1
pydantic[email]==2.10.6

#email-otp
aiosmtplib==3.0.1
jinja2==3.1.4

aioredis
redis>=5.2.0


reportlab==4.4.10

firebase-admin==7.2.0
apscheduler==3.11.2